# Directorios específicos del proyecto
scripts/
dbapi/
Docker/
docs/
temp/

test/



# Archivos de Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
*.egg

# Bases de datos y logs
*.db
*.sqlite3


# Archivos de traducción
*.pot
*.mo

# Archivos temporales y de respaldo
*.pot~
*.swp
*.swo

# Archivos específicos de sistemas operativos
*.DS_Store

# Certificados y claves
*.pem
*.key
*.crt
*.p12
*.pfx
*.jks
*.p7b
*.p7s

# Archivos comprimidos
*.zip
*.tar.gz
*.tar
*.tgz
*.gz
*.bz2
*.xz
*.7z
*.rar
*.tar.xz
*.tar.bz2
*.tar.lz
*.tar.lzma
*.tar.zst
*.tar.lzo
*.tar.lzop



# Archivos de pruebas y cobertura
pytest_cache/
*.coverage
*.cover
*.coverage.*
*.coveragerc
.hypothesis/
.hypothesis.*

# Entornos virtuales de Python
.venv/
venv/

# Migraciones de Django u otros frameworks
migrations/

# Otros archivos innecesarios
zzzz
