annotated-types
asgiref
certifi
cffi
chardet
charset-normalizer
coverage
cryptography
dj-database-url
Django
django-cors-headers
django-debug-toolbar
django-environ
django-oauth-toolkit
djangorestframework
djangorestframework_simplejwt
drf-yasg
gunicorn
idna
inflection
iniconfig
jwcrypto
oauthlib
openapi-client
packaging
pillow
pluggy
psycopg2
psycopg2-binary
pycparser
pydantic
pydantic_core
PyJWT
pytest
pytest-cov
pytest-django
pytest-mock
python-dateutil
python-dotenv
pytz
PyYAML
reportlab
requests
six
sqlparse
typing-inspection
typing_extensions
uritemplate
urllib3
whitenoise
